<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      New Post
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="createPost()"
                  color="primary"
                  [disabled]="post.message.length < 1 || loadingGeo">
        Share
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    
    <ion-item>
      <ion-label position="floating">Message</ion-label>
      <ion-textarea [(ngModel)]="post.message"></ion-textarea>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Geo Reference</ion-label>
        <ion-spinner *ngIf="loadingGeo" name="lines-small"></ion-spinner>
        <ion-toggle slot="end" [(ngModel)]="post.position" (ionChange)="getGeo()"></ion-toggle>
      </ion-item>
    </ion-list>


  </ion-list>

  <ion-row>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"
                  (click)="openCamera()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Camera
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"
                  (click)="openGallery()">
        <ion-icon slot="start" name="images"></ion-icon>
        Gallery
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <img [src]="image | imageSanitizer">
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>
