<div class="posts">
    <ion-item lines="none">
        <ion-avatar slot="start">
            <img src="/assets/avatars/{{ post.user.avatar}}" alt="">
        </ion-avatar>
        <ion-label>
            <h3>{{ post.user.name}}</h3>
            <h5>{{ post.user.email}}</h5>
        </ion-label>
    </ion-item>

    <ion-slides pager="true" *ngIf="post.images.length > 1">
        <ion-slide *ngFor="let img of post.images" class="image-slide" [style]=" (img | image: post.user._id ) | domSanitizer ">
        </ion-slide>
    </ion-slides>
    <ion-slides pager="true" *ngIf="post.images.length === 1">
        <ion-slide class="image-slide" [style]=" (post.images[0] | image: post.user._id ) | domSanitizer ">
        </ion-slide>
    </ion-slides>

    <app-map [coords]="post.coords" *ngIf="post.coords"></app-map>
    <ion-item lines="none">
        <ion-icon slot="start" name="heart-outline"></ion-icon>
        <ion-icon slot="end" name="bookmark-outline"></ion-icon>
    </ion-item>

    <ion-item lines="none">
        <ion-label text-wrap>
            <b>{{ post.user.name}}:</b> {{ post.message}}
        </ion-label>
    </ion-item>
</div>