img {
    width: 120px;
    height: 120px;
}

.pick-avatar {
    width: 80px;
    height: 80px;
    opacity: 0.4;
}

.pick-avatar-selected {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}