<ion-row>
  <ion-col>
    <h3>Pick your Avatar</h3>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-slides [options]="avatarSlides">
      <ion-slide *ngFor="let avatar of avatars">
        <ion-img class="pick-avatar" src="/assets/avatars/{{avatar.img}}"
          [ngClass]="{'pick-avatar-selected': avatar.selected}" (click)="selectAvatar( avatar )"></ion-img>
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>